/*!********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[0].use[2]!./src/styles.css ***!
  \********************************************************************************************************************************************************************************************************/
* {
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url("/assets/img/fondo-login.jpg");
  margin: 0px;
  background-size: cover;

  background-repeat: no-repeat;

  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;

  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0px;

}

/*este es el color del fondo #102848 */

.espejo {

  background-color: rgba(9, 9, 9, 0.6);

  /*height: 85vh;
  /*max-width: 90vw;*/
  border-radius: 15px;
  align-content: center;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;

  margin-top: auto;

  padding-top: 60px;

}

.espejo-ventas {
  background-color: rgba(6, 28, 99, 0.5);
  width: 95vw;
  height: 85vh;

  border-radius: 15px;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.division {

  background-color: transparent;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 1px;

}

.hideScroll {
  overflow: auto;
  height: 85vh;
  scroll-width: none;
  /*Firefox*/
}

.hideScroll-ventas {
  overflow: auto;
  height: 80vh;
  scroll-width: none;
  /*Firefox*/
}

/*Webkit*/

.hideScroll::-webkit-scrollbar {
  width: 0;
}

.div-boton {
  padding-bottom: 5px;
  padding-top: 5px;
}

/*FIN DE CONTENEDORES*/

/*TEXTO*/

.correo-pass {
  background-color: rgba(0, 0, 0, 0.3);

  width: 80%;
  height: 20px;
  margin-left: 10%;
  margin-right: 10%;
  /*tipografia*/
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: left;
  color: white;

  border: none;
}

.etiquetas {
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: rgb(5, 0, 62);
}

.parrafos {
  text-align: justify;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: rgb(5, 1, 62);
  padding-left: 10px;
  padding-right: 10px;
}

.pass-link {
  font-size: 10px;
  font-family: 'Montserrat';
  font-weight: 200;
  text-align: center;
  color: white;
}

.signup-link {
  font-size: 10px;
  font-family: 'Montserrat';
  font-weight: 200;
  text-align: center;
  color: white;
  padding-bottom: 5px;
}

.pass-link a {
  color: white;
}

.signup-link a {
  color: white;
}

.etiquetas-videos {
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
  padding-top: 2vh;

}

/*FIN DE TEXTO*/

/*ESTILOS PARA TABLAS*/

table {

  border-collapse: collapse;

  display: block;
  color: white;

  overflow-x: auto;
  width: 90%;

  margin: auto;



}

th,
td {
  padding: 20px;
  width: auto;
}

thead {
  background-color: rgba(11, 62, 106, 0.8);
  ;
  border-bottom: solid 2px #0b17bc;
  color: white;
}

tr:nth-child(even) {
  background-color: rgba(2, 29, 52, 0.8);
}

tr:hover td {
  background-color: rgba(106, 121, 164, 0.5);
  color: rgb(249, 249, 249);
}

/*FIN DE ESTILO DE TABLAS*/

/*ESTILOS PARA BOTONES*/

.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: auto;
}

.btn-ingresar {
  color: white;
  background-color: rgb(12, 38, 236, 0.4);
}

.btn-ingresar:hover {
  background-color: rgba(12, 38, 236, 0.8);
  color: white;
}

.btn-ingresar:active {
  background-color: rgba(12, 38, 236, 0.8);
}

.btn-registrar {
  color: white;
  background-color: rgb(12, 38, 236, 0.4);
}

.btn-registrar:hover {
  background-color: rgba(12, 38, 236, 0.8);
  color: white;
}

.btn-registrar:active {
  background-color: rgba(12, 38, 236, 0.8);
}

.btn-eliminar {
  color: white;
  background-color: rgba(238, 43, 29, 0.4);
}

.btn-eliminar:hover {
  background-color: rgba(238, 43, 29, 0.8);
}

.btn-eliminar:active {
  background-color: rgba(238, 43, 29, 0.8);
}

.btn-nuevo {
  color: white;
  background-color: rgba(29, 238, 64, 0.4);
}

.btn-nuevo:hover {
  background-color: rgba(29, 238, 64, 0.8);
}

.btn-nuevo:active {
  background-color: rgba(29, 238, 64, 0.8);
}

.btn-archivos {
  color: white;
  background-color: rgb(12, 38, 236, 0.4);
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}

.btn-archivos:hover {
  background-color: rgba(12, 38, 236, 0.8);
  color: white;
}

.btn-archivos:active {
  background-color: rgba(12, 38, 236, 0.8);
}

/*FIN DE ESTILOS PARA BOTONES*/

.etiquetas {
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
}

.pass-link {
  font-size: 10px;
  font-family: 'Montserrat';
  font-weight: 200;
  text-align: center;
  color: white;
}

.signup-link {
  font-size: 10px;
  font-family: 'Montserrat';
  font-weight: 200;
  text-align: center;
  color: white;
  padding-bottom: 5px;
}

.area {
  color: white;
  font-size: 15px;
}

.link {
  color: white;
}

.tarjeta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
  width: 60%;
  height: auto;
  background-color: rgba(19, 12, 237, 0.891);
  border-radius: 15px;

}

.subtitulo {
  font-size: 15px;
  color: white;
  text-decoration: none;

}

/*este es el color del fondo #102848 */

.title {
  text-align: center;
  font-size: 25px;
  color: rgb(243, 243, 243);
  margin-top: auto;
  font-family: 'Montserrat';
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map*/